<ng-container *ngIf="celular; then smartphone; else PC"></ng-container>
<ng-template #smartphone>

  <div class="bg-img">

    <img src="../assets/iconotaxi.jpg" width="100" height="28">

    <div class="columns is-mobile is-centered">
      <div class="column is-narrow"> 
        <p class="bd-notification is-primary">
          <br><br><br>
          <br><br><br>
          <a target="_blank" href="https://docs.google.com/uc?export=download&id=1_xr-ULfzj1yCxfr5BpxzQaXkJVbpcnrj" class="button">Descarga Aqui</a>
          <br><br><br>
          <br><br><br>
          <br><br><br>
          <br>
        </p>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Te Llevo App</strong> por <a href="#">Alvaro Hernandez - Nicolás Díaz</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">Duoc Uc</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
      </p>
    </div>
  </footer>


</ng-template>
<ng-template #PC>

  <div class="bg-img">

    <img src="../assets/iconotaxi.jpg" width="112" height="28">

    <div class="columns is-mobile is-centered">
      <div class="column is-narrow">
        <p class="bd-notification is-primary">
          <br><br><br><qrcode [qrdata]="link" [width]="300" [errorCorrectionLevel]="'M'"></qrcode><br><br><br>
        </p>
      </div>
    </div>

    
  </div>

  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Te Llevo App</strong> por <a href="#">Alvaro Hernandez - Nicolás Díaz</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">Duoc Uc</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
      </p>
    </div>
  </footer>

</ng-template>